
.parallax {
    background-color: #384959;
  
  /* Full viewport height */
  height: 90vh;

  display: flex;
  justify-content: center;
  color: white;
  padding: 40px;
  font-family: 'Courier New', Courier, monospace;
}
.parallax h1{
    font-size: 3rem;
    padding: 10px 0px;
}
.parallax p{
font-size: 1em;
}

.contents{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  padding: 10px 10px;
}

.funnyGif1{
  height: 300px;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  
}
