@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    background-color: black ;
    display: flex; 
    justify-content: center;     
    align-items: center;
    padding: 15px;
    color: white;
    box-shadow: none;

}
.headerButtons{
    padding: 5px 5px;
    font-size: 1.2rem;

}

.logo{
    padding:7px 5px;
}

.headerButtons button{
    color: white;
    font-size: 0.8em;
    background: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    padding: 5px 10px;   
}

.headerButtons button:hover{
    text-decoration: underline;
    color: #BDDDFC;
    text-shadow: 0 0 10px #BDDDFC;
}

.links{
    position: absolute;
    right: 0; /* Stick to right edge */
    padding: 5px;
}